@{
    ViewData["Title"] = "Details";
}
@model BridgeMonitor.Models.ClosingList;

<div class="text-left">
    <h1 class="display-4">Détails de la fermeture du @Model.DetailedClosing.FormattedCLosingDateOnly</h1>
    <ul class="list-group">
        <li class="list-group-item">
            Date de fermeture : @Model.DetailedClosing.FormattedClosingDate
        </li>
        <li class="list-group-item">
            Date de réouverture : @Model.DetailedClosing.FormattedReopeningDate
        </li>
        <li class="list-group-item">
            Bateau : @Model.DetailedClosing.BoatName
        </li>

        <li class="list-group-item">
            Durée de la fermeture : @Model.DetailedClosing.ClosingDuration
        </li>
        <li class="list-group-item">
            Prochaine fermeture dans @Model.DetailedClosing.TimeUntilClosing
        </li>
        <li class="list-group-item">
            @if(Model.DetailedClosing.TrafficRisk) {
                <text>Risque élevé de bouchons !</text>
            } else {
                <text>Risque faible de bouchons</text>
            }
        </li>
        
    </ul>
</div>

