@{
    ViewData["Title"] = "Prochaine fermeture";
}
@model BridgeMonitor.Models.ClosingList;

<div class="text-left">
    <h1 class="display-4">Prochaine fermeture</h1>
    <ul class="list-group">
        <li class="list-group-item">
            Date de fermeture : @Model.NextClosing.FormattedClosingDate
        </li>
        <li class="list-group-item">
            Date de réouverture : @Model.NextClosing.FormattedReopeningDate
        </li>
        <li class="list-group-item">
            Bateau : @Model.NextClosing.BoatName
        </li>

        <li class="list-group-item">
            Durée de la fermeture : @Model.NextClosing.ClosingDuration
        </li>
        <li class="list-group-item" id="timeUntilClosing">
            Prochaine fermeture dans
        </li>
        <li class="list-group-item">
            @if(Model.NextClosing.TrafficRisk) {
                <text>Risque élevé de bouchons !</text>
            } else {
                <text>Risque faible de bouchons</text>
            }
        </li>
        
    </ul>
</div>

@section Scripts {
    <script type="text/javascript">

    const refreshTimer = () => {
        var closeDate = new Date("@Model.NextClosing.FormattedClosingDate")
        var now = Date.now()
        var delta = Math.abs(closeDate - now) / 1000;
        var days = Math.floor(delta / 864000);
        delta -= days * 86400;
        var hours = Math.floor(delta / 3600) % 24;
        delta -= hours * 3600;
        var minutes = Math.floor(delta / 60) % 60;
        delta -= minutes * 60;
        var seconds = Math.floor(delta % 60);

        var daysStr = days < 1 ? "" : days + " jours, "
        var hoursStr = hours < 1 ? "" : hours + " heures"
        var minutesStr = minutes < 1 ? "" : ", " + minutes + " minutes"
        var secondsStr = seconds < 1 ? "" : ", " + seconds + " secondes"

        document.getElementById("timeUntilClosing").innerText = "Prochaine fermeture dans " + daysStr + hoursStr + minutesStr + secondsStr
    }

    refreshTimer()
    setInterval(() => {
        refreshTimer()
    }, 1000)
        
    </script>
}